.mainn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.mainn img {
  width: 500px;
  display: flex;
  padding-top: 4rem;
  height: auto;
  max-width: 100%;
}

.text {
  font-style: italic;
  line-height: 1.5;
  font-family: 'Gelasio', serif;
  text-align: center;
  font-size: 3vw;
  padding: 5%;
  text-align: center;
}

.scanss {
  display: flex;
  padding-top: 5rem;
  font-size: 1.8vw;
  text-decoration: none;
  color: gray;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cube {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.tailles {
  max-width: 33%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.tailles img {
  max-width: 100%;  
  height: auto;     
  width: 100%;      
}