.header {
  background-color: gray;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: fit-content;

}

.header img {
  display: flex;
  max-width: 80%;
  width: 15rem;
  height: auto;
  padding: 1vw;
}

.menuItem {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  text-align: right;
  letter-spacing: 5px;
  padding-right: 1vw;
}

.separator {
  text-align: center;
  align-items: center;
  padding-left: 1vw;
  padding-right: 2vw;
}


.menu {
  display: flex;
  flex-direction: row;
  font-size: 1vw;
}