.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.image img {
    width: 500px;
    display: flex;
    padding-top: 4rem;
    height: auto;
    max-width: 100%;
}


.titre {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    padding-top: .5rem;
    font-family: 'Gelasio', serif;
    font-style: italic;
}

.textt {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Gelasio', serif;
    text-decoration: solid;
    font-size: 2vw;
    padding: 2%;
    font-family: 'Gelasio', serif;
    font-style: italic;
}