.page {
    text-align: center;
    align-items: center;
    font-family: 'Gelasio', serif;
    font-style: italic;
    padding: 5%;
    font-size: 4vw;

}

.image {
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

.image img {
    max-height: 700px;
    max-width: 100%;
    height: auto;
    width: auto;
}